*{padding: 0;margin: 0;}
html,body{height: 100%}
#controller,#main,#record_control,#recorder_row{
    height: 100%;
}
.recorder {
    height: 50%;
    width: 100%;
}
.mainButton{
    height: 50%;
    width: 50%;
    margin: 0 auto;
}