$bg_color: #212241;
$controller_bg: #3d3d3d;

$button-empty: rgb(104, 151, 250);
$button-recording: rgb(165, 80, 80);
$button-recorded: rgb(26, 44, 145);
$button-waiting: rgb(156, 147, 91);
$button-looping: rgb(64, 197, 115);

$button-st2: #4d85aad0;
$button-st1: #557ab18c;

$button-st2-active: #78a2c5;
$button-st1-active: #7266a5;

$sektor_color: #f1ff73;
$sektor_bg: #747474;

$function_button: rgb(201, 201, 201);

$cb1: rgb(74, 247, 203);
$cb2: rgb(54, 179, 179);
$cb3: rgb(57, 105, 136);
$cb4: rgb(104, 151, 250);

$cb1_1: rgb(241, 215, 98);
$cb2_1: rgb(189, 173, 83);
$cb3_1: rgb(180, 152, 59);
$cb4_1: rgb(199, 144, 26);

$tips_color: yellow;

$wave_height: 128px;
