$bg_color: #212241;
$controller_bg: #3d3d3d;

$button-empty: rgb(90, 90, 90);
$button-recording: rgb(255, 0, 0);
$button-recorded: rgb(0, 0, 255);
$button-waiting: rgb(255, 208, 0);
$button-looping: rgb(0, 255, 0);

$button-st1: #326291;
$button-st2: #303263;

$sektor_color: #d2da8b;
$sektor_bg: #747474;
