$bg_color: #212241;
$controller_bg: #3d3d3d;

$button-empty: rgb(190, 190, 190);
$button-recording: rgb(255, 0, 0);
$button-recorded: rgb(0, 0, 255);
$button-waiting: rgb(255, 208, 0);
$button-looping: rgb(0, 255, 0);

$button-st2: #004b96;
$button-st1: #303263;

$sektor_color: #f1ff73;
$sektor_bg: #747474;

$function_button: rgb(201, 201, 201);

$wave_height: 100px;
