
#piano_container{
    width: 100%;
    height: 100%;
    #piano_keyboard{
        width: 100%;
        height: 100%;
        display: flex;
        overflow: auto;
        .key_set{
            position: relative;
            .white{
                background-color: white;
                border: 1px gray solid; 
                height: 100%;
                width: 100px;
            }
            .black{
                background-color: black;
                position: absolute;
                left: 75%;
                top: 0;
                height: 50%;
                width: 50%;
                z-index: 1;
            }
            audio{
                width: 100%;
                position: absolute;
                bottom: 0;
                pointer-events: none;
                opacity: 0;
            }
        }
        
    }
}