@import './_color.scss';

.background_circle {
	position: relative;
	width: 70%;
	padding-bottom: 70%;
	.content_box {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		position: absolute;
		box-sizing: border-box;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		/* border: 5px solid transparent; */
		background: $controller_bg;
		// animation: rotateS 4s linear infinite;
	}
	@keyframes rotateB {
		0% {
			border-color: transparent;
		}
		50% {
			border-color: #00b0ff;
		}
		100% {
			border-color: transparent;
		}
	}
	.circle {
		position: absolute;
		width: 15px;
		height: 50%;
		z-index: 2;
		transform-origin: 50% 100%;
		transform: rotate(0deg);
		/* animation: rotateS 4s linear infinite; */
	}
	@keyframes rotateS {
		50% {
			transform: rotate(180deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
	.box {
		position: absolute;
		top: -5px;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #00b0ff;
		animation: boxS 1.5s linear infinite;
	}
	@keyframes boxS {
		50% {
			box-shadow: 1px 0 10px rgba(0, 176, 255, 0.5),
				-1px 0 10px rgba(0, 176, 255, 0.5),
				0 1px 10px rgba(0, 176, 255, 0.5),
				0 -1px 10px rgba(0, 176, 255, 0.5);
			/* box-shadow: 0 0 10px rgba(0, 176, 255, .5); */
		}
		100% {
			box-shadow: 0 0 0 rgba(0, 176, 255, 0.5);
		}
	}
	.background_box {
		position: relative;
		width: 50%;
		height: 50%;
		box-sizing: border-box;
	}
	.b1 {
		border-radius: 100% 0 0 0/ 100% 0 0 0;
		background: linear-gradient(rgba(0, 176, 255, 1), rgba(88, 94, 255, 1));
	}
	.b2 {
		border-radius: 0 100% 0 0/ 0 100% 0 0;
		background: linear-gradient(transparent, rgba(78, 32, 136, 1));
	}
	.b3 {
		border-radius: 0 0 0 100%/ 0 0 0 100%;
		background: linear-gradient(
			rgba(88, 94, 255, 1),
			rgba(106, 26, 174, 1)
		);
	}
	.b4 {
		border-radius: 0 0 100% 0/ 0 0 100% 0;
		background: linear-gradient(
			rgba(78, 32, 136, 1),
			rgba(106, 26, 174, 1)
		);
	}
	.background {
		position: absolute;
		width: calc(100% - 5px);
		height: calc(100% - 5px);
		background: $controller_bg;
		border: none;
	}
	.c1 {
		right: 0;
		bottom: 0;
		border-radius: 100% 0 0 0/ 100% 0 0 0;
	}
	.c2 {
		left: 0;
		bottom: 0;
		border-radius: 0 100% 0 0/ 0 100% 0 0;
	}
	.c3 {
		right: 0;
		top: 0;
		border-radius: 0 0 0 100%/ 0 0 0 100%;
	}
	.c4 {
		left: 0;
		top: 0;
		border-radius: 0 0 100% 0/ 0 0 100% 0;
	}
}

@keyframes circleAnimate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#main {
	#instrument {
		height: 0;
		width: 100%;
	}
	#record_control {
		width: 100%;
		height: 100%;
		&.setting {
			position: absolute;
			bottom: 12%;
			width: 30%;
			height: 30%;
			z-index: 20;
			left: 0;
			.recorder {
				.background_circle {
					width: 100%;
					padding-bottom: 100%;
					.box {
						width: 5px;
						height: 5px;
						top: 0px;
						left: 5px;
					}
				}
				&.setting .background_circle {
					width: 70%;
					padding-bottom: 70%;
					.box {
						width: 15px;
						height: 15px;
						top: -5px;
						left: 0px;
					}
				}
			}

			.main_screen_button {
				display: none;
			}
		}
		#recorder_row {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			.recorder {
				width: 33%;
				height: 50%;
			}
		}
	}
	&.instrument {
		#instrument {
			height: 60%;
		}
		#record_control {
			height: 40%;
			#recorder_row {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				.recorder {
					width: 16.66%;
					height: 100%;
					.background_circle {
						width: 100%;
						padding-bottom: 100%;
						.box {
							width: 5px;
							height: 5px;
							top: 0px;
							left: 5px;
						}
					}
				}
			}
		}
		#record_control.setting {
			height: 30%;
			#recorder_row {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				.recorder {
					width: 33%;
					height: 50%;
					.background_circle {
						width: 100%;
						padding-bottom: 100%;
						.box {
							width: 5px;
							height: 5px;
							top: 0px;
							left: 5px;
						}
					}
					&.setting {
						.box {
							width: 15px;
							height: 15px;
							top: -5px;
							left: 0px;
						}
					}
				}
			}
		}
	}
}

#piano_container {
	display: flex;
	flex-direction: column;
}

.recorder {
	&.empty {
		.background_circle svg rect {
			display: none;
		}
		svg radialGradient stop {
			stop-color: $button-empty;
		}
		.st1 {
			fill: $button-st1;
		}
		.st2 {
			fill: $button-st2;
		}
	}
	&.recording {
		svg {
			circle.st_shawdow {
				transform-origin: center;
				animation: scaling 1.5s ease-in-out infinite;
			}
			radialGradient stop {
				stop-color: $button-recording;
			}
		}
		.st1 {
			fill: $button-st1-active;
		}
		.st2 {
			fill: $button-st2-active;
		}
	}
	&.recorded {
		svg {
			radialGradient stop {
				stop-color: $button-recorded;
			}
		}
		.st1 {
			fill: $button-st1-active;
		}
		.st2 {
			fill: $button-st2-active;
		}
	}
	&.waiting {
		svg radialGradient stop {
			stop-color: $button-waiting;
		}
		.st1 {
			fill: $button-st1-active;
		}
		.st2 {
			fill: $button-st2-active;
		}
	}
	&.looping {
		svg radialGradient stop {
			stop-color: $button-looping;
		}
		.st1 {
			fill: $button-st1-active;
		}
		.st2 {
			fill: $button-st2-active;
		}
	}
}

@keyframes scaling {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

.st00 {
	fill: url(#recorderRadiaGradient0);
}
.st01 {
	fill: url(#recorderRadiaGradient1);
}
.st02 {
	fill: url(#recorderRadiaGradient2);
}
.st03 {
	fill: url(#recorderRadiaGradient3);
}
.st04 {
	fill: url(#recorderRadiaGradient4);
}
.st05 {
	fill: url(#recorderRadiaGradient5);
}

.recorder_setting_bg {
	height: 80%;
	width: 90%;
	background-color: $controller_bg;
	border-radius: 10px;
	display: flex;
	flex-direction: row-reverse;
	position: relative;
}
.recorder_setting_container {
	height: 100%;
	width: 60%;
	overflow: auto;
	padding: 30px;
}
.setting_top_button_container {
	height: fit-content;
	width: 100%;
	display: flex;
	z-index: 2;
	justify-content: space-evenly;
	margin-bottom: 30px;
}
.recorder_setting_button {
	height: fit-content;
	padding: 10px 0;
	width: 20%;
	border-radius: 5px;
	background-color: $button-st2;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.setting_audio_container {
	margin-bottom: 10px;
}

.setting_audio_container {
	width: 100%;
	display: flex;
}

.setting_control_button_container {
	height: $wave_height;
	width: $wave_height;
	display: flex;
	flex-wrap: wrap;
	margin-left: 10px;
	position: relative;
	.setting_drag_button {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 30%;
		height: 30%;
		border-radius: 99%;
		border: 1px solid rgb(201, 201, 201);
		background-color: $controller_bg;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 60%;
			height: 60%;
		}
	}
	.setting_control_button {
		width: 50%;
		height: 50%;
		border: 1px solid rgb(201, 201, 201);
		box-sizing: border-box;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 60%;
			height: 60%;
		}
	}
}

.record_waveform {
	flex-grow: 1;
	overflow: hidden;
	position: relative;
	wave_container,
	wave,
	canvas {
		pointer-events: none;
		width: 100% !important;
	}

	.slider {
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		-webkit-appearance: none;
		width: 100%;
		height: 100%;
		background: none;
		outline: none;
	}

	.slider::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;

		height: $wave_height;
		background: rgba(128, 255, 185, 0);
		cursor: pointer;
	}
	.wave_container {
		position: relative;
		height: $wave_height;
	}
	.display_area {
		height: 100%;
		position: absolute;
		background-color: rgba(128, 255, 185, 0.5);
		left: 50%;
		transform: translate(-50%, 0%);
	}
	.setting_instrument_box {
		position: absolute;
		top: 0;
		width: 20px;
		height: $wave_height;
		display: flex;
		img {
			width: 100%;
		}
	}
	.setting_piano_key {
		position: absolute;
		width: 12px;
		height: 10px;
		border-radius: 99px;
		background-color: rgb(32, 54, 54);
		.setting_piano_key_black {
			height: 100%;
			line-height: 10px;
			margin-left: 12px;
		}
		.setting_piano_key_left {
			position: absolute;
			height: 30px;
			left: 0;
			top: 5px;
			border-left: 2px solid rgb(32, 54, 54);
		}
		.setting_piano_key_right {
			position: absolute;
			height: 30px;
			right: 0;
			bottom: 5px;
			border-right: 2px solid rgb(32, 54, 54);
		}
		.setting_piano_key_center,
		.setting_piano_key_bottom,
		.setting_piano_key_top,
		.setting_piano_key_top-5px {
			width: 18px;
			left: -3px;

			border-bottom: 2px solid #203636;
			position: absolute;
		}

		.setting_piano_key_center {
			bottom: 4px;
		}
		.setting_piano_key_bottom {
			bottom: -1px;
		}

		.setting_piano_key_top {
			top: -1px;
		}
		.setting_piano_key_top-5px {
			top: -4px;
		}
	}

	.notation_line {
		width: 100%;
		position: absolute;
		border-bottom: 1px solid black;
	}
}
