@import './_color.scss';
.background_circle {
	.Sektor-circle {
		fill: $controller_bg !important;
	}
	rect {
		fill: $sektor_color;
	}
	path {
		stroke: $sektor_bg;
	}
}

#main {
	#instrument {
		height: 0;
		width: 100%;
	}
	#record_control {
		width: 100%;
		height: 100%;
		#recorder_row {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			.recorder {
				width: 33%;
				height: 50%;
			}
		}
	}
	&.instrument {
		#instrument {
			height: 60%;
		}
		#record_control {
			height: 40%;
			#recorder_row {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				.recorder {
					width: 16.66%;
					height: 100%;
				}
			}
		}
	}
}

#piano_container {
	display: flex;
	flex-direction: column;
}

.recorder {
	&.empty {
		.background_circle svg rect {
			display: none;
		}
		svg radialGradient stop {
			stop-color: $button-empty;
		}
	}
	&.recording svg radialGradient stop {
		stop-color: $button-recording;
	}
	&.recorded svg radialGradient stop {
		stop-color: $button-recorded;
	}
	&.waiting svg radialGradient stop {
		stop-color: $button-waiting;
	}
	&.looping svg radialGradient stop {
		stop-color: $button-looping;
	}
}
.st00 {
	fill: url(#recorderRadiaGradient0);
}
.st01 {
	fill: url(#recorderRadiaGradient1);
}
.st02 {
	fill: url(#recorderRadiaGradient2);
}
.st03 {
	fill: url(#recorderRadiaGradient3);
}
.st04 {
	fill: url(#recorderRadiaGradient4);
}
.st05 {
	fill: url(#recorderRadiaGradient5);
}
.st1 {
	fill: $button-st1;
}

.st2 {
	fill: $button-st2;
}

.recorder_setting_bg {
	height: 80%;
	width: 90%;
	background-color: $controller_bg;
	border-radius: 10px;
	display: flex;
	flex-direction: row-reverse;
	position: relative;
}
.recorder_setting_container {
	height: 100%;
	width: 60%;
	overflow: auto;
	.setting_top_button_container {
		height: 15%;
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
}

.recorder_setting_button {
	height: 60%;
	width: 20%;
	border-radius: 5px;
	background-color: $button-st2;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.record_waveform {
	overflow: hidden;
	position: relative;
	wave_container,
	wave,
	canvas {
		pointer-events: none;
		width: 100% !important;
	}

	.slider {
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		-webkit-appearance: none;
		width: 100%;
		height: 100%;
		background: none;
		outline: none;
	}

	.slider::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;

		height: 128px;
		background: rgba(128, 255, 185, 0);
		cursor: pointer;
	}
	.wave_container {
		position: relative;
		height: 128px;
	}
	.display_area {
		height: 100%;
		position: absolute;
		background-color: rgba(128, 255, 185, 0.5);
		left: 50%;
		transform: translate(-50%, 0%);
	}
	.setting_instrument_box {
		position: absolute;
		top: 0;
		width: 10px;
		height: 128px;
		background-color: rgb(32, 54, 54);
	}
	.setting_piano_key {
		position: absolute;
		width: 12px;
		height: 10px;
		border-radius: 99px;
		background-color: rgb(32, 54, 54);
		.setting_piano_key_black {
			height: 100%;
			line-height: 10px;
			margin-left: 12px;
		}
		.setting_piano_key_left {
			position: absolute;
			height: 30px;
			left: 0;
			top: 5px;
			border-left: 2px solid rgb(32, 54, 54);
		}
		.setting_piano_key_right {
			position: absolute;
			height: 30px;
			right: 0;
			bottom: 5px;
			border-right: 2px solid rgb(32, 54, 54);
		}
		.setting_piano_key_center,
		.setting_piano_key_bottom,
		.setting_piano_key_top {
			width: 18px;
			left: -3px;

			border-bottom: 2px solid #203636;
			position: absolute;
		}
		.setting_piano_key_center {
			bottom: 4px;
		}
		.setting_piano_key_bottom {
			bottom: 0px;
		}
		.setting_piano_key_top {
			top: 0px;
		}
	}

	.notation_line {
		width: 100%;
		position: absolute;
		border-bottom: 1px solid black;
	}
}
