#tips-icon {
	width: 80px;
	height: 80px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 99px;
	border: 1px solid $function_button;
	background-color: $controller_bg;
	img {
		width: 60%;
		height: 60%;
		cursor: pointer;
	}
}

.tips_container {
	width: 90%;
	height: 80%;
	background-color: $controller_bg;
	border-radius: 8px;
	padding: 20px;
	overflow: auto;
	.tips_top_button_container {
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
		margin-bottom: 20px;
		.recorder_download_button {
			height: fit-content;
			padding: 10px 0;
			width: 20%;
			border-radius: 5px;
			background-color: $button-st2;
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
			font-weight: bold;
			cursor: pointer;
		}
	}
}
