@import './_color.scss';
@import './_function_bar.scss';
@import './_recorder.scss';
@import './_piano.scss';
@import './_drum.scss';
* {
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
	width: 100%;
}

#controller,
#main,
#record_control,
#controller_row {
	height: 100%;
	width: 100%;
	padding: 0%;
}
#controller_row {
	padding: 20px 0;
	padding-left: 30px;
	background-color: $bg_color;
}
#record_control {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
#main {
	background-color: $controller_bg;
	border-radius: 15px;
	#recorder_row {
		height: 100%;
	}
}
.recorder {
	background-color: rgba($color: #000000, $alpha: 0);
	.controller_reocorder_top {
		position: relative;
		margin: 0 auto;
		width: 50%;
		height: 70%;
		background-color: rgba($color: #000000, $alpha: 0);
	}
	&.setting {
		.controller_reocorder_top {
			position: fixed;
			z-index: 30;
			height: 100%;
			width: 30%;
			max-height: 60vh;
			top: 50%;
			transform: translate(0, -50%);
			left: 7.5%;
		}
		button {
			display: none;
		}
	}
}

.background_circle svg,
.mainButton {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-color: rgba($color: #000000, $alpha: 0);
}

.hide {
	display: none !important;
}

.fixed_center {
	position: fixed;
	z-index: 20;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(20, 20, 20, 0.7);
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 51px;
	height: 51px;
	margin: 6px;
	border: 6px solid $sektor_color;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: $sektor_color transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
